body {background-color: #f7f2e7;
}
hr {
color: #797a7e;
border-style: none;
border-top:  5px dotted;
width: 6%;}
img {
height: 180px;
}
h1 {
  color: #495464;
}
h3{
    color: #797a7e
}
